body {
    font-family: sans-serif;
    background-image: url("image2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    padding: 0;
   
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
    background-color: #3985ef;
    color: #080808;
    font-size: 25px;
    border-radius: 20px;
    padding: 15px;
    opacity: 0.8;
    
  }
  
  form {
    margin: 0 auto;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
    
    

  }
  
  label {
    display: inline-block;
    width: 150px;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    
    
  }
  
  input,
  select {
    width: 300px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    color: rgb(19, 87, 233);
    box-sizing: border-box;
    
    
    
  }
  
  input[type="submit"] {
    background-color: #2163de;
    color: #fbf9f8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    
  }
  
  p {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
  }
  
  li {
    display: inline-block;
    padding: 10px;
  }
  
  a {
    color: #3ae68b;
  }
  
  a:hover {
    color: #f9f7f6;
  }
  input:hover{
    color: rgb(240, 81, 8);
  }
  .container{
    text-align: center;
    font-family: inherit; 
    margin-top: 100px;
    font-size:xx-large

    
  }
  .button{
    margin-top: 15px;

  }
  